.mainDiv {
  background-color: rgb(240, 190, 190);
  font-family: sans-serif;
  padding: 30px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-weight: 800;
  color: red;
}

.lists {
  list-style: none;
  display: flex;
  padding: 0px 50px;
}
.lists li {
  margin-left: 20px;
  cursor: pointer;
  color: red;
}

.fav_badge {
  position: relative;
}
.badge {
  text-decoration: none;
  color: white;
  padding: 2px 3px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  margin-top: -30%;
  margin-left: 100%;
  font-size: 18px;
}
